{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="we teach and translate foreign languages like german, spanish, Dutch, French, Italia etc. ">
<meta name="keywords" content="where to learn german in Benin city, where to learn germany in Benin city, A place to learn german in Benin City, learning german, learning germany, foreign school in Benin city, ">

<title>Unified German Language Center | home_page </title>

<link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
<link rel="stylesheet" href="{% static 'css/aos.css' %}">

