{% load static %}

<!-- <div style="background-image: url('images/');background-position:center;background-repeat:none;background-size:100% " class="h-20 px-2 py-64 shadow-xl md:px-10 mx-"> -->
<div class="px-2 py-32 -mt-6 bg-gray-800 shadow-xl md:py-48 md:px-10" style="background-image: url({% static 'images/80020-1.webp' %} );background-position:center;background-repeat:None;background-size:100%;opacity:0.9   " >
    <div class="mx-auto -mt-20 md:-mt-32 ">
        <div class="flex-none my-6 text-4xl font-bold text-center text-gray-50 lg:text-5xl">
            The Unified German Language Center
        </div>
        <div class="container text-2xl font-semibold text-center select-none text-gray-50 ">
            we are the best in teaching and translation of German, French, Spanish and Italian Languages right here in Benin City and envaron
        </div>
    </div>
</div>
<span class="flex justify-center mt-4 text-md md:text-3xl">
    come and Learn any of the following languages
</span>
<div class="flex justify-center grid-cols-12 gap-4 px-2 mx-auto -mt-1 sm:gap-10">
    <div  class="grid col-span-2 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110 ">
        <img src="{% static 'images/icons/icons8_germany_80px.png' %}" alt="Germany"  class="md:h-20 h-18 ">
        <span class="text-xs text-center">German</span>
    </div>
    <div class="grid col-span-2 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'images/icons/icons8_spain_flag_127px.png' %}" alt="spanish" class="md:h-20 h-18 ">
        <span class="text-xs text-center">Spanish</span>
    </div>
    <div class="grid col-span-2 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'images/icons/icons8_france_127px.png' %}" alt="French" class="md:h-20 h-18 ">
        <span class="text-xs text-center">French</span>
    </div>
    <div class="grid justify-center col-span-2 p-1 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'images/icons/icons8_portugal_127px.png' %}" alt="Portuguese" class="h-12 md:h-20 ">
        <span class="text-xs text-center">Portuguese</span>
    </div>
    <div class="grid col-span-2 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'images/icons/icons8_netherlands_127px.png' %}" alt="Dutch" class="md:h-20 h-18 ">
        <span class="text-xs text-center">Dutch</span>
    </div>
    <div class="grid col-span-2 transition duration-500 transform shadow-2xl hover:-translate-y-1 hover:scale-110">
        <img src="{% static 'images/icons/icons8_italy_127px.png' %}" alt="Italian" class="md:h-20 h-18 ">
        <span class="text-xs text-center">Italian</span>
    </div>
</div>